body {
  background-color: rgba(245, 194, 66, 0.25);
}

h1,
h2 {
  color: rgba(49, 11, 69, 0.8);
  text-align: center;
}

h1 {
  font-family: monospace;
  font-weight: bold;
  font-size: 32px;
  text-shadow: 2px 4px #c9bad1;
}

h2 {
  font-family: verdana;
  font-weight: lighter;
  font-size: 18px;
}

h3 {
  font-weight: lighter;
  font-size: 28px;
  background-color: #ffffff80;
}

p {
  font-family: verdana;
  font-size: 15px;
  color: rgba(69, 23, 94, 0.8);
}

button {
  border-radius: 8px;
  border-style: ridge;
  border-color: #ffffff90;
}

button:hover {
  border-color: #adc6ed;
}

div {
  padding-top: 5%;
  padding-bottom: 20px;
  border-bottom: 2px ridge #ffffff90;
}

#quote {
  font-weight: bolder;
  font-size: 40px;
}

#quoteAuthor {
  text-align: center;
  font-family: cursive;
  text-shadow: 2px 2px #c9bad1;
  font-size: 24px;
}
